PORT=3000
MONGODB_URI=mongodb://localhost:27017/bersulm
JWT_SECRET=tu_jwt_secret_aqui
JWT_REFRESH_SECRET=tu_refresh_secret_aqui
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
LOG_LEVEL=debug
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
NODE_ENV=development
